// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Main Colors
$main-color: $black;
$accent-color: #59c355;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000000;
$white: #ffffff;

// Bootstrap's breakpoints
// You can remove the xs, sm, md, and lg definitions from this file if your
// project actually uses Bootstrap

// Extra small screen / phone
$screen-xs:                  576px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Define an extra-small breakpoint
$screen-xxs:             0px;
$screen-xxs-min:         $screen-xxs;
$screen-xss-max:         ($screen-xs-min - 1);

// Define an extra-large breakpoint
$screen-xl:             1600px;
$screen-xl-min:         $screen-xl;
$screen-lg-max:         ($screen-xl-min - 1);

// Define an iMac-and-upwards breakpoint - anything larger than HD
$screen-xxl:             1921px;
$screen-xxl-min:         $screen-xxl;
$screen-xl-max:          ($screen-xxl-min - 1);
