.modal {
  @media (max-width: $screen-sm) {
    padding-right: 20px;
  }

  .modal-header {
    padding: 2rem;
    padding-bottom: 0;
    border-bottom: none;
  }

  &-dialog {
    position: relative;
    background-color: $white;
    width: 100%;
    top: 0;
    z-index: 160;
  }

  .modal-title {
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 500;
  }

  .modal-body {
    padding: 2rem;

    .modal-form {
      .custom-input {
        padding-left: 5%;
        padding-right: 5%;
        height: 50px;
        border: 0;
        border-radius: 2px;
        background-color: #fff;
        font-size: 11pt;
        color: #222;
        margin-bottom: 1.25rem;
        transition: 0.2s ease;
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.16);

        &:hover {
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
        }
      }

      .custom-textarea {
        transition: 0.2s ease;
        padding: 1.125rem;
        padding-right: 1.125rem;
        padding-left: 1.125rem;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #fff;
        color: #222;
        font-size: 11pt;
        overflow: auto;
        height: 191px;
        border: 0;
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.16);

        &:hover {
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
        }
      }

      .modal-bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        .bottom-btn {
          @include transition(0.2s ease);
          position: relative;
          margin-top: 1rem;
          display: block;
          font-size: 15px;
          font-weight: 500;
          width: 200px;
          color: #fff;
          border: none;
          border-radius: 4px;
          background-color: $accent-color;
          height: 3.125rem;
          line-height: 3.125rem;
          text-decoration: none;
          padding: 0 6.25rem 0px 1.25rem;
          cursor: pointer;

          .svg-inline--fa {
            position: absolute;
            right: 1.5rem;
            top: 20px;
            font-size: 12px;
          }

          &:hover {
            background-color: darken($accent-color, 15%);
          }
        }
      }
    }
  }

  .close {
    font-size: 44px;
    font-weight: 300;
    color: #9e9c9c;
    margin-top: -1.5rem;
  }

  &.visible {
    display: flex;
  }
}