.custom-nav {
  .navbar-toggler {
    border: none;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-sm) {
      position: absolute;
      left: 0;
      top: 3.7rem;
      margin-top: 0;
      z-index: 130;
      background-color: #fff;
      width: 100%;
      border-top: 1px solid #e3e3e3;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);
    }

    .nav-item {
      @include transition(0.2s ease);
      margin-right: 2.8rem;

      @media (max-width: $screen-md) {
        margin-right: 0.8rem;
      }

      @media (max-width: $screen-sm) {
        width: 100%;
        border-bottom: 1px solid #e3e3e3;
        margin-right: 0;
        text-align: center;
      }

      &:last-child {
        margin-right: 0;

        .nav-link {
          background-color: $accent-color;
          color: $white;
          padding: 0.75rem 2.375rem;
          border-radius: 4px;

          @media (max-width: $screen-sm) {
            background-color: transparent;
            color: $main-color;
          }

          &:hover {
            background-color: darken($accent-color, 15%);

            @media (max-width: $screen-sm) {
              background-color: transparent;
              color: $accent-color;
            }
          }
        }
      }
    }

    .nav-link {
      @include transition(0.2s ease);
      color: $black;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .navbar-collapse {
    transition: none !important;
  }
}

.fixed-top {
  @include transition(0.2s ease);
  background-color: $white;
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}