// Categories Icons
.category-icon {
  width: 60px;
  height: 60px;
}

@each $category_name in "butai""komercines-patalpos""namai""sklypai""sodybos" {
  .icn-#{$category_name} {
    @extend .category-icon;
    background: url('../images/icons/#{$category_name}.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@each $category_name in "butai""komercines-patalpos""namai""sklypai""sodybos" {
  .icnb-#{$category_name} {
    @extend .category-icon;
    background: url('../images/icons/#{$category_name}-b.png');
    background-repeat: no-repeat;
    background-position: center;

    &.on {
      background: url('../images/icons/#{$category_name}.png');

      .svg-inline--fa {
        color: $accent-color;
      }
    }
  }
}


// Bued Status
.bued-status {
  position: absolute;
  width: 250px;
  height: 50px;
  top: 35%;
  left: 50%;
  margin-left: -7.8125rem;
  z-index: 5;
  cursor: pointer;
}


@each $status_name in "rezervuota""parduota" {
  .status-#{$status_name} {
    @extend .bued-status;
    background-image: url('../images/status/#{$status_name}.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 150px;
    -moz-background-size: 150px;
    -o-background-size: 150px;
    background-size: 150px;
    overflow: hidden;
  }
}

.photopic-singlephoto {

  .status-rezervuota,
  .status-parduota {
    top: 41%;
    -webkit-background-size: 250px;
    -moz-background-size: 250px;
    -o-background-size: 250px;
    background-size: 250px;

    @media (max-width: $screen-sm) {
      -webkit-background-size: 190px;
      -moz-background-size: 190px;
      -o-background-size: 190px;
      background-size: 190px;
    }
  }
}