.footer {
  background-color: #f6f6f6;
  font-size: 10pt;
  color: $main-color;
  font-weight: 300;
  padding: 1.0625rem 0;

  &__copyright {
    text-align: left;

    @media (max-width: $screen-sm) {
      text-align: center !important;
    }
  }

  &__developer {
    text-align: right;

    @media (max-width: $screen-sm) {
      text-align: center !important;
    }

    a {
      @include transition(0.2s ease);
      color: $main-color;
      text-decoration: none;

      &:hover {
        color: $accent-color;
      }
    }
  }
}