* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $body-bg;
}

.container {
  @media (max-width: $screen-md) {
    max-width: 1270px;
    margin: auto;
  }

  @media (max-width: $screen-sm) {
    max-width: 100%;
    padding: 0 1.875rem;
  }
}

.no-scroll {
  overflow: hidden;
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section {
  padding: 5.75rem 0rem 6.25rem 0rem;

  @media (max-width: $screen-xs) {
    padding: 3.25rem 0rem 3.125rem 0rem;
  }

  &-title {
    text-align: center;
    font-size: 27pt;
    font-weight: 500;
    color: #555555;
    margin-bottom: 2.5625rem;

    @media (max-width: $screen-xs) {
      font-size: 22pt;
      margin-bottom: 1.5625rem;
    }
  }

  p {
    font-size: 12pt;
    text-align: center;
    color: #222;
    font-weight: 300;
    line-height: 200%;
  }

  &-content {
    height: 100%;
    min-height: 80vh;
  }
}


.sect-estates {
  background-color: #f8f8f8;

  .categories {
    position: relative;

    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media (max-width: $screen-xs) {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
      }

      @media (max-width: $screen-sm) {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
      }

      @media (min-width: $screen-sm) and (max-width: $screen-md) {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
      }

      &--item {
        position: relative;
        width: 100%;
        margin-right: 40px;
        display: block;
        background-color: #fff;

        @media (max-width: $screen-xs) {
          width: 48% !important;
          margin-right: 2% !important;
          margin-bottom: 2%;

          &:nth-child(1) {
            width: 100% !important;
          }
        }

        @media (max-width: $screen-sm) {
          width: 31%;
          margin-right: 2% !important;
          margin-bottom: 2%;

          &:nth-child(1),
          &:nth-child(2) {
            width: 48%;
          }
        }

        @media (min-width: $screen-sm) and (max-width: $screen-md) {
          width: 31%;
          margin-right: 2% !important;
          margin-bottom: 2%;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          @include transition(0.2s ease);
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);
          font-size: 12pt;
          line-height: 140%;
          font-weight: 300;
          text-transform: uppercase;
          text-decoration: none;
          color: #222;
          padding: 8.125rem 1.25rem 1.25rem 1.25rem;
          width: 100%;
          min-height: 200px;
          background-repeat: no-repeat;
          display: block;
          background-position: center top 47px;
          text-align: center;

          &:hover {
            box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}

.sect-adverts {
  background-color: #ffffff;

  .estate {

    &-block {
      margin-bottom: 1rem;
    }

    &-item {
      @include transition(0.2s ease);
      border: 1px solid #e3e3e3;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);

      &:hover {
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.15);
      }

      &--img {
        position: relative;

        img {
          width: 100%;
        }
      }

      &--content {
        padding: 1rem 2.4375rem 1rem 2.4375rem;
        min-height: 204px;


        @media (max-width: $screen-sm) {
          padding: 1rem 0.875rem 1rem 0.875rem;

          a {
            font-size: 12pt !important;
          }
        }

        @media (min-width: $screen-sm) and (max-width: $screen-md) {
          padding: 1rem 0.875rem 1rem 0.875rem;

          a {
            font-size: 12pt !important;
          }
        }

        a {
          @include transition(0.2s ease);
          width: 364px;
          max-width: 100%;
          margin: 0 0 1.2rem 0;
          font-size: 14pt;
          color: #222;
          font-weight: 500;
          text-decoration: none;
          display: flex;
          overflow: hidden;

          &:hover {
            color: $accent-color;
          }
        }

        &-line {
          display: flex;
          margin-bottom: 0.6875rem;

          &--l {
            flex: 40%;
            color: $main-color;
            font-weight: 300;
            font-size: 10.5pt;
            overflow: hidden;
          }

          &--r {
            flex: 50%;
            color: $main-color;
            font-weight: 500;
            font-size: 10.5pt;
            overflow: hidden;
          }
        }

      }

      &--price {
        display: flex;
        border-top: 1px solid #e3e3e3;

        div {
          flex-grow: 1;

          &:first-child {
            text-align: center;
            font-size: 12pt;
            color: #222;
            font-weight: bold;
            height: 48px;
            line-height: 48px;
          }

          &:last-child {
            @include transition(0.2s ease);
            border-left: 1px solid#eee;
            padding-left: 1.25rem;
            line-height: 3rem;
            cursor: pointer;

            &:hover {
              background-color: lighten(#e3e3e3, 7%);
            }
          }

          a {
            @include transition(0.2s ease);
            font-size: 12pt;
            color: $accent-color;
            font-weight: 600;
            text-decoration: none;
            display: block;

            .svg-inline--fa {
              margin-top: 1rem;
              margin-right: 1.25rem;
              font-size: 12px;
            }
          }
        }
      }
    }

    &-bottom {
      display: flex;
      justify-content: center;
      align-items: center;

      .bottom-btn {
        @include transition(0.2s ease);
        position: relative;
        margin-top: 2.5rem;
        display: block;
        font-size: 15px;
        font-weight: 500;
        float: left;
        color: #fff;
        border-radius: 4px;
        background-color: $accent-color;
        height: 3.125rem;
        line-height: 3.125rem;
        text-decoration: none;
        padding: 0 6.25rem 0px 1.25rem;

        .svg-inline--fa {
          position: absolute;
          right: 1.5rem;
          top: 20px;
          font-size: 12px;
        }

        &:hover {
          background-color: darken($accent-color, 15%);
        }
      }
    }
  }
}

.sect-about {

  @media (max-width: $screen-sm) {
    padding-bottom: 2rem;
  }

  .section-title {
    text-align: left;
    margin-bottom: 1.375rem;
  }

  .info {
    width: 485px;
    padding-right: 6.25rem;
    float: right;

    @media (max-width: $screen-sm) {
      width: 94%;
      padding-left: 3%;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      margin: 0;
      float: none;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 94%;
      padding-left: 3%;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      margin: 0;
      float: none;
    }
  }

  p {
    font-size: 11pt;
    line-height: 180%;
    color: #222;
    font-weight: 300;
  }

  .bottom-btn {
    @include transition(0.2s ease);
    position: relative;
    margin-top: 0.5rem;
    display: block;
    font-size: 15px;
    font-weight: 500;
    float: left;
    color: #fff;
    border-radius: 4px;
    background-color: $accent-color;
    height: 3.125rem;
    line-height: 3.125rem;
    text-decoration: none;
    padding: 0 6.25rem 0px 1.25rem;

    .svg-inline--fa {
      position: absolute;
      right: 1.5rem;
      top: 20px;
      font-size: 12px;
    }

    &:hover {
      background-color: darken($accent-color, 15%);
    }
  }
}

.sect-services {
  background-color: #f8f8f8;

  @media (max-width: $screen-sm) {
    padding-bottom: 2rem;
  }

  .section-title {
    text-align: left;
    margin-bottom: 1.375rem;
  }

  .info {
    width: 485px;
    margin-left: 4.25rem;
    padding-top: 2.5rem;
    float: left;

    @media (max-width: $screen-sm) {
      width: 94%;
      padding-left: 3%;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      margin: 0;
      float: none;
    }

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 94%;
      padding-left: 3%;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      margin: 0;
      float: none;
    }

    .service-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      &--item {
        @include transition(0.2s ease);
        margin-bottom: 0.625rem;

        a {
          background-color: #fff;
          position: relative;
          color: #222;
          font-weight: 300;
          font-size: 12pt;
          display: flex;
          align-items: center;
          padding: 16px 30px 15px 20px;
          text-decoration: none;
          transition: 0.2s ease;
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);

          .svg-inline--fa {
            position: absolute;
            right: 1.5rem;
            font-size: 13px;
          }
        }

        &:hover {
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  p {
    font-size: 11pt;
    line-height: 180%;
    color: #222;
    font-weight: 300;
  }

  .bottom-btn {
    @include transition(0.2s ease);
    position: relative;
    margin-top: 0.5rem;
    display: block;
    font-size: 15px;
    font-weight: 500;
    float: left;
    color: #fff;
    border-radius: 4px;
    background-color: $accent-color;
    height: 3.125rem;
    line-height: 3.125rem;
    text-decoration: none;
    padding: 0 6.25rem 0px 1.25rem;

    .svg-inline--fa {
      position: absolute;
      right: 1.5rem;
      top: 20px;
      font-size: 12px;
    }

    &:hover {
      background-color: darken($accent-color, 15%);
    }
  }
}

.sect-contacts {
  background-color: #ffffff;

  .contact-form {
    margin-top: 2.5rem;

    .custom-input {
      padding-left: 5%;
      padding-right: 5%;
      height: 50px;
      border: 0;
      border-radius: 2px;
      background-color: #fff;
      font-size: 11pt;
      color: #222;
      margin-bottom: 1.25rem;
      transition: 0.2s ease;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.16);

      &:hover {
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .custom-textarea {
      transition: 0.2s ease;
      padding: 1.125rem;
      padding-right: 1.125rem;
      padding-left: 1.125rem;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #fff;
      color: #222;
      font-size: 11pt;
      overflow: auto;
      height: 191px;
      border: 0;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.16);

      &:hover {
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .contact-bottom {
      display: flex;
      justify-content: center;
      align-items: center;

      .bottom-btn {
        @include transition(0.2s ease);
        position: relative;
        margin-top: 2.5rem;
        display: block;
        font-size: 15px;
        font-weight: 500;
        float: left;
        color: #fff;
        border-radius: 4px;
        background-color: $accent-color;
        height: 3.125rem;
        line-height: 3.125rem;
        text-decoration: none;
        padding: 0 6.25rem 0px 1.25rem;
        cursor: pointer;

        .svg-inline--fa {
          position: absolute;
          right: 1.5rem;
          top: 20px;
          font-size: 12px;
        }

        &:hover {
          background-color: darken($accent-color, 15%);
        }
      }
    }
  }
}

.sect-content {
  padding: 3.125rem 0;
  border-top: 1px solid #e3e3e3;

  &.fixed-padding {
    padding-top: 2rem !important;

    @media (max-width: $screen-sm) {
      padding-top: 1rem !important;
    }
  }

  @media (max-width: $screen-sm) {
    padding-top: 1.125rem;
  }

  .title {
    text-align: left;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 2.5625rem;

    @media (max-width: $screen-xs) {
      font-size: 22pt;
      margin-bottom: 1.5625rem;
    }

    @media (max-width: $screen-sm) {
      font-size: 17pt;
      margin-bottom: 1rem !important;
    }
  }

  .sidecategories {
    @include transition(0.2s ease);
    margin-bottom: 1.875rem;
    border: 1px solid #e3e3e3;
    display: block;
    margin-top: -100px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);

    @media (max-width: $screen-sm) {
      margin-top: 0;
    }

    .sidetitle {
      font-size: 18pt;
      font-weight: 500;
      color: $main-color;
      padding: 0rem 1.1875rem;
      height: 77px;
      line-height: 4.8125rem;
      border-bottom: 1px solid #e3e3e3;
      margin-bottom: 0rem !important;

      @media (max-width: $screen-md) {
        font-size: 15pt !important;
      }
    }

    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      &--item {
        position: relative;
        border-bottom: 1px solid #e3e3e3;
        width: 100%;
        cursor: pointer;

        &:hover {
          .svg-inline--fa {
            color: $accent-color;
          }
        }

        a {
          @include transition(0.2s ease);
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 12pt;
          color: #222;
          padding-left: 4rem;
          padding-right: 1.875rem;
          background-repeat: no-repeat;
          background-position: 18px center;
          background-size: 25px auto;

          @media (max-width: $screen-sm) {
            width: 100%;
          }

          .svg-inline--fa {
            position: absolute;
            right: 1.5rem;
            font-size: 12px;
          }
        }
      }
    }
  }

  .estate {
    &-block {
      margin-bottom: 2rem;
    }

    &-item {
      @include transition(all 0.2s ease);
      border: 1px solid #e3e3e3;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.06);

      &:hover {
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.15);
      }

      &--img {
        position: relative;

        img {
          width: 100%;
        }
      }

      &--content {
        padding: 10px;
        min-height: 204px;

        @media (max-width: $screen-sm) {
          padding: 1rem 0.875rem 1rem 0.875rem;

          a {
            font-size: 12pt !important;
          }
        }

        @media (min-width: $screen-sm) and (max-width: $screen-md) {
          padding: 1rem 0.875rem 1rem 0.875rem;

          a {
            font-size: 12pt !important;
          }
        }

        a {
          @include transition(0.2s ease);
          width: 364px;
          max-width: 100%;
          margin: 0 0 1.2rem 0;
          font-size: 12pt;
          color: #222;
          font-weight: 500;
          text-decoration: none;
          display: flex;
          overflow: hidden;

          &:hover {
            color: $accent-color;
          }
        }

        &-line {
          display: flex;
          margin-bottom: 0.6875rem;

          &--l {
            flex: 40%;
            color: $main-color;
            font-weight: 300;
            font-size: 9.5pt;
            overflow: hidden;
          }

          &--r {
            flex: 50%;
            color: $main-color;
            font-weight: 500;
            font-size: 9.5pt;
            overflow: hidden;
          }
        }

      }

      &--price {
        display: flex;
        border-top: 1px solid #e3e3e3;

        div {
          flex-grow: 1;

          &:first-child {
            text-align: center;
            font-size: 12pt;
            color: #222;
            font-weight: bold;
            height: 48px;
            line-height: 48px;
          }

          &:last-child {
            @include transition(0.2s ease);
            border-left: 1px solid#eee;
            padding-left: 1.25rem;
            line-height: 3rem;
            cursor: pointer;

            &:hover {
              background-color: lighten(#e3e3e3, 7%);
            }
          }

          a {
            @include transition(0.2s ease);
            font-size: 12pt;
            color: $accent-color;
            font-weight: 600;
            text-decoration: none;
            display: block;

            .svg-inline--fa {
              margin-top: 1rem;
              margin-right: 1.25rem;
              font-size: 12px;
            }
          }
        }
      }
    }

    &-bottom {
      display: flex;
      justify-content: center;
      align-items: center;

      .bottom-btn {
        @include transition(0.2s ease);
        position: relative;
        margin-top: 2.5rem;
        display: block;
        font-size: 15px;
        font-weight: 500;
        float: left;
        color: #fff;
        border-radius: 4px;
        background-color: $accent-color;
        height: 3.125rem;
        line-height: 3.125rem;
        text-decoration: none;
        padding: 0 6.25rem 0px 1.25rem;

        .svg-inline--fa {
          position: absolute;
          right: 1.5rem;
          top: 20px;
          font-size: 12px;
        }

        &:hover {
          background-color: darken($accent-color, 15%);
        }
      }
    }
  }

  h1 {
    font-size: 19pt;
    color: #555;
    margin-bottom: 23px;
  }

  h2 {
    font-weight: bold;
    font-size: 18pt;
    color: #222;
    border-left: 2px solid #59c355;
    padding: 0.25rem 0rem 0.25rem 1.25rem;

  }

  .desc {
    width: 100%;
    margin: 1.875rem 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 1.25rem 0;

    &-line {
      display: flex;
      margin-bottom: 0.6875rem;

      &--l {
        flex: 40%;
        color: $main-color;
        font-weight: 300;
        font-size: 12pt;
        overflow: hidden;
      }

      &--r {
        flex: 50%;
        color: $main-color;
        font-weight: 500;
        font-size: 12pt;
        overflow: hidden;
      }
    }
  }

  .text {
    font-size: 12pt;
    line-height: 180%;
    color: #222;
    font-weight: 300;
  }

  .contact {
    margin-top: 4rem;

    &-call__title {
      h3 {
        font-size: 16.5pt;
        font-weight: 500;
        margin-bottom: 0.625rem;
        color: #555;
      }

      h4 {
        font-size: 12.5pt;
        color: #555;
        font-weight: bold;
        margin-bottom: 0.625rem;
      }
    }

    &-call__phones {
      display: flex;
      flex-direction: column;

      .number {
        color: #222;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        display: block;
        font-size: 12.5pt;
        font-weight: 500;
      }
    }

    &-call__send {
      span {
        color: #555;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        width: 157px;
        display: block;
        font-size: 12pt;
        font-weight: 300;
      }

      .send-btn {
        @include transition(0.2s ease);
        display: flex !important;
        align-items: center;
        margin-top: 0.625rem;
        display: block;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        border-radius: 4px;
        background-color: $accent-color;
        width: 185px;
        height: 3.125rem;
        line-height: 3.125rem;
        text-decoration: none;
        padding: 0 1.25rem 0px 1.25rem;
        cursor: pointer;

        .svg-inline--fa {
          margin-right: 0.4rem;
          font-size: 25px;
        }

        &:hover {
          background-color: darken($accent-color, 15%);
        }
      }
    }
  }

  .photopic {
    &-singlephoto {
      position: relative;

      img {
        width: 100%;
      }
    }

    &-multiphotos {
      width: 100%;
      margin-top: 0.125rem;

      a {
        width: 20%;
        display: block;
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        float: left;

        @media (min-width: $screen-sm) and (max-width: $screen-md) {
          width: 20%;
        }

        @media (max-width: $screen-xs) {
          width: 20%;
          display: inline-block;

          &:nth-child(5n) {
            border-right: none;
          }
        }

        img {
          width: 100%;
          display: block;
        }

        .photo {
          @include transition(0.2s ease);
          opacity: 0.7;
          display: block;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

#map {
  height: 615px;
  width: 100%;

  @media (max-width: $screen-lg) {
    height: 300px;
  }

  @media (min-width: $screen-xs) and (max-width: $screen-sm) {
    width: 100%;
    height: 300px;
    margin-right: 4%;
  }

  @media (max-width: $screen-xs) {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 1.875rem;
  }
}

.page-about {
  .section-title {
    text-align: left;
    font-weight: bold;
    color:#555;
    font-size: 27pt;
    margin-bottom: 1.875rem;
    line-height: 110%;

    @media (max-width: $screen-xs) {
      font-size: 22pt;
      margin-bottom: 1.5625rem;
    }

    @media (max-width: $screen-sm) {
      font-size: 17pt;
      margin-bottom: 1rem !important;
    }
  }

  p {
    font-size: 12pt;
    line-height: 180%;
    color: #222;
    font-weight: 300;
    margin-bottom: 0.4rem;
  }
}

.page-service {
  padding-top: 0 !important;
}

.page-contact {
  background-color: #f9f9f9;

  h1 {
    font-size: 18pt;
    color: #555;
    margin-bottom: 15px;
    font-weight: 500;
  }

  p {
    font-size: 12pt;
    line-height: 180%;
    color: #222;
    font-weight: 300;
    margin-bottom: 0.4rem;

    strong {
      font-weight: 500;
    }

    a {
      @include transition(0.2s ease);
      text-decoration: none;
      color: $accent-color;

      &:hover {
        color: $main-color;
      }
    }

    &:last-child {
      margin-bottom: 1.875rem;
    }
  }

  .contact-form {
    margin-top: 2.5rem;

    .custom-input {
      padding-left: 5%;
      padding-right: 5%;
      height: 50px;
      border: 0;
      border-radius: 2px;
      background-color: #fff;
      font-size: 11pt;
      color: #222;
      margin-bottom: 1.25rem;
      transition: 0.2s ease;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.16);

      &:hover {
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .custom-textarea {
      transition: 0.2s ease;
      padding: 1.125rem;
      padding-right: 1.125rem;
      padding-left: 1.125rem;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #fff;
      color: #222;
      font-size: 11pt;
      overflow: auto;
      height: 191px;
      border: 0;
      box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.16);

      &:hover {
        box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .contact-bottom {
      display: flex;
      justify-content: left;
      align-items: left;

      .bottom-btn {
        @include transition(0.2s ease);
        position: relative;
        margin-top: 2.5rem;
        display: block;
        font-size: 15px;
        font-weight: 500;
        float: left;
        color: #fff;
        border-radius: 4px;
        background-color: $accent-color;
        height: 3.125rem;
        line-height: 3.125rem;
        text-decoration: none;
        padding: 0 6.25rem 0px 1.25rem;
        cursor: pointer;

        .svg-inline--fa {
          position: absolute;
          right: 1.5rem;
          top: 20px;
          font-size: 12px;
        }

        &:hover {
          background-color: darken($accent-color, 15%);
        }
      }
    }
  }
}

.go-back {
  margin-top: 2rem;

  a {
    @include transition(0.2s ease);
    font-size: 12pt;
    color: #399b35;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: $main-color;
    }
  }
}