.main-head {
  .top-line {
    @include transition(0.2s ease);

    @media (max-width: $screen-sm) {
      padding: 0.25rem 0 0 0;
    }

    .navbar-brand {
      img {
        max-height: 46px;
      }
    }
  }

  .slider {
    position: relative;

    &-inner {
      &--item {
        min-height: 548px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        @media (max-width: $screen-sm) {
          min-height: 348px;
        }
      }

      &--content {
        @include transition(0.2s ease);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;

        h1 {
          @include transition(0.2s ease);
          text-shadow: 1px 2px 3px #666666;
          color: $white;
          line-height: 1;
          font-size: 3.75rem;
          font-weight: bold;
          width: 50%;

          @media (max-width: $screen-xs) {
            font-size: 2rem !important;
          }

          @media (max-width: $screen-sm) {
            font-size: 2.75rem;
          }
        }

        .svg-inline--fa {
          position: absolute;
          right: 1.5rem;
          top: 20px;
          font-size: 12px;
        }

        .content-btn {
          @include transition(0.2s ease);
          position: relative;
          margin-top: 2.5rem;
          display: block;
          font-size: 15px;
          font-weight: 500;
          float: left;
          color: #fff;
          border-radius: 4px;
          background-color: $accent-color;
          height: 3.125rem;
          line-height: 3.125rem;
          text-decoration: none;
          padding: 0 6.25rem 0px 1.25rem;

          &:hover {
            background-color: darken($accent-color, 15%);
          }
        }
      }
    }
  }
}

.banner {
  position: relative;

  &-inner {
    &--item {
      width: 100%;
      min-height: 200px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      @media (max-width: $screen-sm) {
        min-height: 100px;
      }
    }
  }
}